/* Define View container dimensions */
.container-min-h {
  height: max-content;
  min-height: calc(100svh - 64px);
  max-height: none;
  overflow: hidden;
}

.container-max-w {
  max-width: 1200px !important;
}

/* Section header */
.section-header {
  letter-spacing: 0.2rem !important;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: medium;
  color: rgb(var(--v-theme-primary));
  
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-on-surface));
}