/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@forward 'vuetify' with (
  $body-font-family: 'Ruda',
  );

@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400&display=swap');


